---
import Layout from "@layouts/Standard.astro";
---

<Layout pageTitle="Speak at CSS Club NYC">
  <div class="longform-content">
    <h1>Speak at CSS Club NYC</h1>
    <img
      class="content-img-standard"
      src="/images/events/meetup-1-overview.jpg"
      alt="A collage of three different photos of speakers and the audience at CSS Club NYC #1"
      width="860"
      height="300"
    />
    <p>
      For this event to be a success, we need you. We want to have engaging, fun
      talks from the widest range of voices possible. Whether this is your 100th
      time speaking in front of people or your first, CSS Club NYC is for you.
    </p>
    <p>
      If you've never given a talk, we highly encourage you to submit a talk.
      This is a fun, welcoming event and perfect for first time speakers.
    </p>
    <h2>Details</h2>
    <ul>
      <li>
        Talks are up to 15 minutes long. If you want to give a shorter or longer
        talk, let us know and we'll make it work
      </li>
      <li>
        Talks can be about any CSS or CSS-related topic
        <ul>
          <li>
            can be about new CSS features like view transitions, scroll
            animations, scoping, etc.
          </li>
          <li>can be about HTML, JavaScript, accessibility, etc.</li>
          <li>
            don't have to be specifically about code. They can be about a Design
            process or technique, how you or your team work together, how CSS
            has impacted your career etc.
          </li>
        </ul>
      </li>
      <li>Speakers never pay admission. We’ll send you a ticket.</li>
    </ul>
    <p>
      <strong>The most important part of any talk is your viewpoint.</strong> Your
      talk doesn't have to be about a topic no one else has ever covered. What's
      most interesting and helpful to others is hearing about your unique point of
      view and experience with the topic.
    </p>
    <p>
      If you have any questions or unsure about submitting a proposal, feel free
      to reach out to Tyler at <a href="mailto:me@tylergaw.com"
        >me@tylergaw.com</a
      > or in our <a href="https://discord.gg/EsctDWSTwM">Discord</a>.
    </p>
    <div class="form-container">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSf7OxU6y_ivudgPwhLeNa-pmu23D7c0BDwyxkbA5JelQeWwJA/viewform?embedded=true"
        >Loading…</iframe
      >
    </div>
  </div>
</Layout>

<style>
  .form-container {
    background-color: #f9f9f9;
    border-radius: var(--radius-low);
    padding-top: var(--sp4);
    margin-bottom: var(--sp4);
  }

  iframe {
    border: 0;
    height: 1800px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
</style>
