---
import Layout from "@layouts/Standard.astro";
---

<Layout pageTitle="Speak at CSS Club NYC">
  <div class="longform-content">
    <h1>Speak at CSS Club NYC</h1>
    <p>Intro paragraph here to give details about the 15min talks.</p>
    <div>Submission form</div>
  </div>
</Layout>
