---
import Head from "@components/Head.astro";
import MailingListForm from "@components/MailingListForm.astro";
import Footer from "@components/Footer.astro";
import Schedule from "@components/Schedule.astro";
import EventSummary from "@components/EventSummary.astro";
---

<!DOCTYPE html>
<html lang="en" class="home">
  <Head />
  <body>
    <div class="home-layout">
      <header class="home-banner">
        <picture>
          <source
            srcset="/images/css-club-nyc-lorg.svg"
            media="(min-width: 800px)"
          />
          <img
            class="home-hero-img"
            src="/images/css-club-nyc-smol.svg"
            alt="CSS Club New York City"
          />
        </picture>
      </header>

      <main class="home-main">
        <div class="home-contents">
          <h2 class="home-title">A joyful meetup for people who style.</h2>
          <EventSummary />
          <Schedule />
          <MailingListForm />
        </div>
        <Footer />
      </main>
    </div>
  </body>
</html>
