<header class="banner-standard">
  <a href="/" class="logo">
    <img src="/images/css-club-nyc-logo-dark.svg" alt="CSS Club NYC" />
  </a>
</header>

<style>
  .logo {
    display: block;
    max-width: 400px;
    rotate: 5deg;
  }

  .logo img {
    display: block;
    width: 100%;
  }

  .banner-standard {
    padding-top: var(--sp2);
  }
</style>
