<style>
  .container {
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  .contents {
    background-color: var(--color-white);
    border-radius: var(--radius-low);
    border: 1px solid var(--color-accent-info-low);
    background-color: var(--color-accent-info);
    border-radius: var(--radius-low);
    font-size: var(--font-size-16);
    padding: var(--sp2);
    margin-top: 20%;
    max-width: 93%;
  }
</style>

<div class="container">
  <div class="contents">
    <p>
      We’re taking a break for the rest of 2023. We’ll be back in 2024. Looking forward to seeing you all again and we’d love for you to <a href="/cfp">give a talk</a> next year.
    </p>
  </div>
</div>