<footer>
  <a href="/code-of-conduct">Code of conduct</a>
  <a href="/cfp">Speak at CSS Club</a>
  <a href="https://discord.gg/hnmkbEK6">Join our Discord</a>
  <a href="mailto:contact@cssclub.nyc">contact@cssclub.nyc</a>
  <a href="https://github.com/cssclubnyc/cssclub.nyc">Github</a>
</footer>

<style>
  footer {
    border-top: 1px dashed var(--color-grey-80);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-14);
    gap: var(--sp2);
    margin-top: var(--sp1);
    padding: var(--sp4) 0;
    justify-content: center;
    text-align: center;
  }
</style>
