<form
  action="https://buttondown.email/api/emails/embed-subscribe/contact"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/contact', 'popupwindow')"
  class="bd-form"
>
  <label for="bd-email">Email</label>
  <input
    type="email"
    name="email"
    id="bd-email"
    placeholder="cssisgood@earthlink.net"
  />
  <button class="btn" type="submit">Join the club</button>
  <p class="bd-powered">
    Powered by
    <a href="https://buttondown.email/refer/contact" target="_blank"
      >Buttondown</a
    >
  </p>
</form>
