---
const hasNews = false;
---

<style>
  .container {
    border: 1px solid var(--color-accent-info-low);
    background-color: var(--color-accent-info);
    border-radius: var(--radius-low);
    font-size: var(--font-size-14);
    margin-bottom: var(--sp4);
    padding: var(--sp2);
  }
</style>

{hasNews && <div class="container"></div>}
