<style>
  .container {
    border: 1px solid var(--color-accent-info-low);
    background-color: var(--color-accent-info);
    border-radius: var(--radius-low);
    font-size: var(--font-size-14);
    margin-bottom: var(--sp4);
    padding: var(--sp2);
  }
</style>

<div class="container">
  2023-09-12: Unfortunately we had to cancel the September meetup, we'll be back in October. <a href="">Details in our newsletter</a>.
</div>