---
export interface Props {
  time: string;
  title: string;
  desc?: string;
}

const { time, title, desc = null } = Astro.props;
---

<li>
  <p class="time">{time}</p>

  <div class="contents">
    <p class="title">{title}</p>
    {desc != null && <p class="desc" set:html={desc} />}
  </div>
</li>

<style>
  li {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: var(--sp2);
    position: relative;
  }

  li::before {
    border-left: 1px dashed var(--color-grey-80);
    content: "";
    color: var(--color-accent);
    height: 100%;
    position: absolute;
    transform: translateX(-1.5rem) translateY(0.3rem);
  }

  li:last-child::before {
    border: 0;
  }

  li::after {
    --size: 9px;
    background-color: var(--color-accent);
    border-radius: calc(var(--size) / 2);
    content: "";
    display: block;
    height: var(--size);
    position: absolute;
    transform: translateX(-1.75rem) translateY(0.3rem);
    width: var(--size);
  }

  .time {
    margin: 0;
    max-width: 25%;
    flex: 1;
  }

  .contents {
    flex: 1;
    overflow: hidden;
  }

  .title,
  .desc {
    margin: 0;
  }

  .desc {
    font-size: var(--font-size-12);
  }
</style>
